<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CoreWCF.Client</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catfact">
                <span class="bi bi-info-circle-nav-menu" aria-hidden="true"></span> Get Cat Fact
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="catpictures">
                <span class="bi bi-image-nav-menu" aria-hidden="true"></span> Cat Pictures
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cattypes">
                <span class="bi bi-image-nav-menu" aria-hidden="true"></span> Cat Types
            </NavLink>
        </div>
    </nav>
</div>

